.icons {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1519px;
    height: 10px;
    z-index: 172;
}

.apple {
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1519px;
    height: 10px;
    z-index: 171;
}

.icon1 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 344px;
    top: 393px;
    width: 53px;
    height: 53px;
    z-index: 170;
}

.container1 {
    border-radius: 50%;
    background-color: rgb(3, 3, 3);
    position: absolute;
    left: 329px;
    top: 431px;
    width: 53px;
    height: 53px;
    z-index: 169;
}

.container1:hover {
    background-color: #2ecc71;
}

.apple:hover {
    opacity: 100%;
}

.android {
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1519px;
    height: 10px;
    z-index: 167;
}

.icon2 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 412px;
    top: 395px;
    width: 53px;
    height: 53px;
    z-index: 166;
}

.container2 {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 396px;
    top: 431px;
    width: 53px;
    height: 53px;
    z-index: 165;
}

.container2:hover {
    background-color: #2ecc71;
}

.android:hover {
    opacity: 100%;
}

.windows {
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1519px;
    height: 10px;
    z-index: 163;
}

.icon3 {
    background-color: rgb(244, 244, 244);
    position: absolute;
    left: 476px;
    top: 395px;
    width: 53px;
    height: 53px;
    z-index: 161;
}

.container3 {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 464px;
    top: 431px;
    width: 53px;
    height: 53px;
    z-index: 160;
}

.container3:hover {
    background-color: #2ecc71;
}

.windows:hover {
    opacity: 100%;
}


header @media screen and (max-width: 800px){
   display:flex;
    justify-content:center;
    
}